
<h1><%= @flat.name %></h1>

<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Address</h5>
    <p class="card-text"><%= @flat.address %></p>
    <h5 class="card-title">Description</h5>
    <p class="card-text"><%= @flat.description %></p>
    <h5 class="card-title">Details</h5>
    <p class="card-text">
      <i class="fa-solid fa-users"></i> <%= @flat.number_of_guests %> guests
      <i class="fa fa-euro-sign"></i> <%= @flat.price_per_night %> per night
    </p>
  </div>
</div>

<%= link_to "Back to Flats", flats_path, class: "btn btn-secondary" %>
<%= link_to "Edit", edit_flat_path(@flat), class: "btn btn-warning mx-2" %>
<%= button_to "Remove", flat_path(@flat), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-danger mx-2" %>
